@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://necolas.github.io/normalize.css/6.0.0/normalize.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 62.5em;
}

#image {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
}
